<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Interest Book </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light" [fullscreen]="true">
  <ion-grid class="main-grid ion-margin-bottom" [fixed]="true" size-md="12" size-lg="8" offset-lg="2">
    <ion-row>
      <ion-col>
        <section class="net-amount box-shadow ion-padding">
          <h4>
            <span>Net Amount</span>
            <ion-text color="{{ amountSummary?.netAmount < 0 ? 'danger' : 'success' }}">
              <span>{{ amountSummary?.netAmount | appCurrency }}</span>
            </ion-text>
          </h4>
        </section>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ng-template [ngTemplateOutlet]="lentGridTemplate"></ng-template>
      </ion-col>
      <ion-col size="6">
        <ng-template [ngTemplateOutlet]="borrowGridTemplate"></ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar
          class="search-box"
          animated="true"
          [debounce]="500"
          (ionInput)="onSearchRecords($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let item of totalRecords">
        <ion-col class="book-records" size="12" size-md="6">
          <ng-container *ngTemplateOutlet="bookRecordTemplate; context:  {$implicit: item}"></ng-container>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #bookRecordTemplate let-data>
  <ion-grid class="book-item-grid ion-no-padding box-shadow">
    <ion-row class="book-item-header">
      <ion-col>
        <span>{{ data.name }}</span>
      </ion-col>
      <ion-col>
        <ion-button size="small" fill="outline" color="medium" class="ion-no-margin">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="book-item-content">
      <ion-col size="6" class="item-col border-right">
        <span class="item-title">Amount</span>
        <span class="item-value">{{ data?.principal | appCurrency}}</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-title">Duration</span>
        <span class="item-value">{{ data?.duration }}</span>
      </ion-col>
      <ion-col size="6" class="item-col border-right">
        <span class="item-title">Interest Rate</span>
        <span class="item-value">{{ data?.rate }}</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-title">Given Date</span>
        <span class="item-value">{{ data?.givenDate | date: 'dd/MM/yyyy'}}</span>
      </ion-col>
      <ion-col size="6" class="item-col border-right">
        <span class="item-title">Total Interest</span>
        <span class="item-value {{data.type}}">{{ data?.totalInterest | appCurrency}}</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-title">Total Due</span>
        <span class="item-value {{data.type}}">{{ data?.totalDue | appCurrency}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<!-- Lent grid template block -->
<ng-template #lentGridTemplate>
  <ion-grid class="lent-grid box-shadow ion-no-padding">
    <ion-row class="lent-header">
      <ion-col>
        <span>Lent</span>
      </ion-col>
      <ion-col>
        <span class="lent-count">{{ amountSummary?.totalLentItems }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="12" sizeSm="6">
        <span class="item-title">Total Amount</span>
      </ion-col>
      <ion-col size="12" sizeSm="6">
        <span>{{ amountSummary?.totalLent | appCurrency}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-bottom">
      <ion-col size="12" sizeSm="6">
        <span class="item-title">Total Interest</span>
      </ion-col>
      <ion-col size="12" sizeSm="6">
        <span class="interest-amount"
          >{{ amountSummary?.totalLentInterest | appCurrency}}</span
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<!-- Borrow grid template -->
<ng-template #borrowGridTemplate>
  <ion-grid class="borrow-grid box-shadow ion-no-padding">
    <ion-row class="borrow-header">
      <ion-col>
        <span>Borrowed</span>
      </ion-col>
      <ion-col>
        <span class="borrow-count"
          >{{ amountSummary?.totalBorrowedItems }}</span
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="12" sizeSm="6">
        <span class="item-title">Total Amount</span>
      </ion-col>
      <ion-col size="12" sizeSm="6">
        <span>{{ amountSummary?.totalBorrowed | appCurrency}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-bottom">
      <ion-col size="12" sizeSm="6">
        <span class="item-title">Total Interest</span>
      </ion-col>
      <ion-col size="12" sizeSm="6">
        <span class="interest-amount"
          >{{ amountSummary?.totalBorrowedInterest | appCurrency}}</span
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
