form {
  margin-bottom: 7rem;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

ion-radio {
  width: 50%;
  display: inline-block;
}

ion-datetime {
  border: 1px solid var(--ion-color-medium);
}