.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  // font-size: 14px;
  color: #333;
}

ion-radio {
  width: 50%;
  display: inline-block;
}

.date-ctrl-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  > div {
    justify-self: flex-start;
  }
}

.duration-ctrl-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  align-items: center;

  > div {
    justify-self: flex-start;
  }
}

.btn-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.interest-result {
  padding: 16px;
  margin: 16px;
  border: 1px solid grey;
  border-radius: 8px;

  > div {
    display: grid;
    grid-template-columns: 45% 10px auto;
    justify-content: start;
    margin-bottom: 8px;

    > p {
      margin: 0;

      // &:last-of-type::before {
      //   content: ':  ';
      // }
    }

    &.total-amount {
      font-size: 1.1rem;
      border-top: 1px solid grey;
      padding-top: 8px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  }

  > div.save-btn-section,
  > div.disclaimer-section {
    display: block;
  }

  div.disclaimer-section {
    font-size: 12px;
    color: var(--ion-color-medium);
  }
}