<ion-header [translucent]="true" id="saved-records-header">
  <ion-toolbar color="primary">
    <ion-title> Saved Receipts </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  color="light"
  [fullscreen]="true"
  [forceOverscroll]="true"
>
  <ion-grid
    class="main-grid"
    [fixed]="true"
    size-md="12"
    size-lg="8"
    offset-lg="2"
  >
    <ion-row>
      <ion-col>
        <ion-searchbar
          class="search-box"
          animated="true"
          [debounce]="500"
          (ionInput)="onSearchRecords($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-container
        *ngFor="let item of savedRecords | searchRecord: searchText"
      >
        <ion-col class="book-records" size="12" size-md="6">
          <ng-container
            *ngTemplateOutlet="savedRecordTemplate; context:  {$implicit: item}"
          ></ng-container>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #savedRecordTemplate let-data>
  <ion-grid class="book-item-grid box-shadow">
    <ion-row class="book-item-header">
      <ion-col>
        <span>{{ data.name }}</span>
      </ion-col>
      <ion-col>
        <ion-button
          size="small"
          fill="outline"
          color="medium"
          class="ion-no-margin"
          (click)="onClickMenu($event, data)"
        >
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="item-col">
        <span class="item-title">Amount</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-value">{{ data?.principalAmount | appCurrency}}</span>
      </ion-col>
    </ion-row>
    <!-- from date and To-Date columns -->
    <ng-container *ngIf="data.tenureType === 'dates'">
      <ion-row>
        <ion-col size="6" class="item-col">
          <span class="item-title">From Date</span>
        </ion-col>
        <ion-col size="6" class="item-col">
          <span class="item-value"
            >{{ data?.fromDate | date: 'dd/MM/yyyy'}}</span
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="item-col">
          <span class="item-title">To Date</span>
        </ion-col>
        <ion-col size="6" class="item-col">
          <span class="item-value">{{ data?.toDate | date: 'dd/MM/yyyy'}}</span>
        </ion-col>
      </ion-row>
    </ng-container>
    <!-- Duration columns -->
    <ng-container *ngIf="data.tenureType === 'duration'">
      <ion-row>
        <ion-col size="6" class="item-col">
          <span class="item-title">Duration</span>
        </ion-col>
        <ion-col size="6" class="item-col">
          <span class="item-value">{{ data?.duration }}</span>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="6" class="item-col">
        <span class="item-title">Interest Rate</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-value"
          >{{ data?.interestType === 'rupees' ? '₹' + data?.interestRate :
          data?.interestRate + ' %' }}</span
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="item-col">
        <span class="item-title">Interest Amount</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-value">{{ data?.interestAmount | appCurrency}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="item-col">
        <span class="item-title">Total Due</span>
      </ion-col>
      <ion-col size="6" class="item-col">
        <span class="item-value">{{ data?.totalDue | appCurrency}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
