/* Common CSS For the App */

.error-text {
  color: var(--ion-color-danger);
  font-size: 0.85rem;
}

.ion-text-danger {
  color: var(--ion-color-danger) !important;
}

.ion-text-medium {
  color: var(--ion-color-medium) !important;
}